/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  padding: 0.2em 0;
  margin: 0.2em 0;
  color: #000;
  background: #ccc;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#toc {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  padding-top: 20px;
  color: #fff;
  background: #333;
  box-shadow: inset -5px 0 5px 0px #000000;
}

#toc ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#toc li {
  padding: 5px 10px;
}

#toc a {
  display: block;
  color: #fff;
  text-decoration: none;
}

#toc .toc-h2 {
  padding-left: 10px;
}

#toc .toc-h3 {
  padding-left: 20px;
}

#toc .toc-active {
  background: #336699;
  box-shadow: inset -5px 0px 10px -5px #000000;
}

#wrapper {
  margin: 0 20px 0 170px;
}

code,
pre {
  font-size: 12px;
}

pre.has-example {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #fcfcfc;
}

.example {
  padding: 1em;
  margin-top: 0;
  background-color: #f0f0f0;
}

/* positons */

.position_tooltip {
  float: left;
  width: 100px;
  padding: 10px;
  margin: 0.5em;
  text-align: center;
  cursor: default;
  background: #ddddff;
}

.positon_wrap {
  overflow: hidden;
}

.position_tooltip:nth-child(3n+1) {
  clear: left;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  overflow: hidden;
  *text-indent: -9999px;
  background-color: transparent;
  border: 0;
}

.ir:before {
  display: block;
  width: 0;
  height: 100%;
  content: "";
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  {
    /* Style adjustments for viewports that meet the condition */
  
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  {
    /* Style adjustments for high resolution devices */
  
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  {
    /*
         * Don't show links for images, or javascript/internal links
         */
  
  }
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}