// core
$namespace			: asTooltip !default;
$loading-width 		: 20px !default;
$loading-height 	: 20px !default;
$loading-margin   	: 0 auto !default;
$loading-color  	: #333 !default;
$loading-duration 	: 1.2s !default;

@import 'chasing-dots.scss';

.#{$namespace} {
	// pointer-events: none;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 9999;
	box-sizing: border-box;

	&-content {
		display: block;
	}
	&-inner {
		position: relative;
	}

	&-loading, &-close {
		display: none;
	}
	&-loading {
		@include chasing-dots();
	}
}

.#{$namespace} {
	&_isLoading {
		.#{$namespace}-loading {
			display: block;
		}
		.#{$namespace}-content {
			display: none;
		}
	}
	&_hasClose {
		.#{$namespace}-close {
			display: block;
		}
	}
}

/* skin */
$asTooltip-arrow-width: 6px !default;

.asTooltip {
  .asTooltip-inner {
    padding: 0.2em 0.6em;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #fff;
    background-color: #434240;
    border-radius: 3px;
    box-sizing: border-box;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-width: $asTooltip-arrow-width;
      border-style: solid;
      border-color: transparent;
      box-sizing: border-box;
    }
  }
  .asTooltip-loading {
     &:before, &:after {
      background-color: white;
     }
  }
  &.asTooltip-element-top {
    .asTooltip-inner {
      margin-bottom: $asTooltip-arrow-width;
      &:before {
        top: 100%;
        border-top-color: #434240;
      }
    }
  }
  &.asTooltip-element-left {
    .asTooltip-inner {
      margin-right: $asTooltip-arrow-width;
      &:before {
        left: 100%;
        border-left-color: #434240;
      }
    }
  }
  &.asTooltip-element-right {
    .asTooltip-inner {
      margin-left: $asTooltip-arrow-width;
      &:before {
        right: 100%;
        border-right-color: #434240;
      }
    }
  }
  &.asTooltip-element-bottom {
    .asTooltip-inner {
      margin-top: $asTooltip-arrow-width;
      &:before {
        bottom: 100%;
        border-bottom-color: #434240;
      }
    }
  }

  &.asTooltip-element-left, &.asTooltip-element-right {
    &.asTooltip-arrow-middle {
       .asTooltip-inner:before {
        top: 50%;
        margin-top: -$asTooltip-arrow-width;
      }
    }
  }
  &.asTooltip-element-top, &.asTooltip-element-bottom {
    &.asTooltip-arrow-middle {
      .asTooltip-inner:before {
        left: 50%;
        margin-left: -$asTooltip-arrow-width;
      }
    }
  }

  &.asTooltip-arrow-left {
    .asTooltip-inner:before {
      left: $asTooltip-arrow-width;
    }
  }

  &.asTooltip-arrow-right {
    .asTooltip-inner:before {
      right: $asTooltip-arrow-width;
    }
  }
  &.asTooltip-arrow-top {
    .asTooltip-inner:before {
      top: $asTooltip-arrow-width;
    }
  }

  &.asTooltip-arrow-bottom {
    .asTooltip-inner:before {
      bottom: $asTooltip-arrow-width;
    }
  }
}
